[build]
  command = "npm run build"
  publish = "dist"

# Reglas para que /admin funcione como SPA (Netlify CMS)
[[redirects]]
  from = "/.netlify/*"
  to = "/.netlify/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
